/* apply a natural box layout model to all elements */
html {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit;
}


/* reset some common browser styles */
html, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap:   break-word;
}

.header {
    background: black;
    color: white;
}

.nav {
    background: red;
    width: 800px;
    margin: 0 auto;
    height: 50px;
}

.menu {
    width: 100px;
    padding: 10px;
    margin: auto 0;
}

.logo {
    width: 100px;
}

.left {
    float: left;
    position: relative;
}

.right {
    float: right;
    position: relative;
}

.content {
    background: white;
    width: 800px;
    margin: 0 auto;
    padding: 10px;


}

.footer {
    background: grey;
    text-align: center;
}
